# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
venv/
env/
.venv/

# OS specific
.DS_Store
Thumbs.db

# Large runtime uploads
frontend/static/uploads/*
!frontend/static/uploads/.gitkeep
